<body class=users-new>

<h1> Login to Sandwich Platter </h1>
<h2>
<%= form_for(:session, url: login_path) do |f| %>
  <%= f.label :email, "Email" %>
  <%= f.email_field :email%>
  <br>
  <%= f.label :password, "Password" %>
  <%= f.password_field :password %>
  <br>
  <%= f.submit "Login" %>
  <% end %>
</h2>
  
</body>
