<%= form_for @sandwich do |f|%>
<h3>
<p>
  <%= f.label :sandwich_name, 'Name Your Sandwich:' %>
  <%= f.text_field :sandwich_name %>
</p>
<p>
  <%= f.label :grill, "Grill It" %>
  <%= f.check_box :grill %>
  <%= f.label :open_face, "Make it Open Face" %>
  <%= f.check_box :open_face %>
</p>
<p>
  <%= f.label :bread_name, "What kind of bread?" %>
  <%= f.text_field :bread_name %>
</p>
    <p>
    <%= f.fields_for :fillings do |filling| %>
    <%= filling.label :filling_name, "Spread/Filling #1" %>
    <%= filling.text_field :filling_name %>
    </p>
    <p>
    <%= filling.label :filling_name, "Spread/Filling #2" %>
    <%= filling.text_field :filling_name %>
    </p>
    <p>
    <%= filling.label :filling_name, "Spread/Filling #3" %>
    <%= filling.text_field :filling_name %>
    </p>
    <p>
    <%= filling.label :filling_name, "Spread/Filling #4" %>
    <%= filling.text_field :filling_name %>
    </p>
    <p>
    <%= filling.label :filling_name, "Spread/Filling #5" %>
    <%= filling.text_field :filling_name %>
    </p>
    <p>
    <%= filling.label :filling_name, "Spread/Filling #6" %>
    <%= filling.text_field :filling_name %>
    </p>
    <p>
    <%= filling.label :filling_name, "Spread/Filling #7" %>
    <%= filling.text_field :filling_name %>
    </p>
    <p>
    <%= filling.label :filling_name, "Spread/Filling #8" %>
    <%= filling.text_field :filling_name %>
    </p>
    <% end %>

  <%= f.submit %>
</h3>
<% end %>
