<h3>
<%= link_to "All Sandwiches", sandwiches_path, class: "all_sandwiches" %><br>
<%= link_to "Cheese Sandwiches", cheese_path, class: "cheese_sandwiches" %><br>
<%= link_to "Grilled Sandwiches", grilled_path, class: "grilled_sandwiches" %><br>
<%= link_to "Open-Faced Sandwiches", open_faced_path, class: "open_faced" %><br>
<%= link_to "Peanut Butter Sandwiches", peanut_butter_path, class: "peanut_butter" %><br>
<br>
<%= link_to "My Sandwiches", user_sandwiches_path(current_user), class: "my_sandwiches" %><br>
<%= link_to "Create a New Sandwich", new_user_sandwich_path(current_user), class: "create_sandwich" %><br>
<br>
<%= link_to "Log out", logout_path%><br>
</h3>
