<h1><%= @sandwich.sandwich_name %></h1>
<h2>
Grilled: <%= @sandwich.grill %>
Open-Faced: <%= @sandwich.open_face %>
Bread: <%= @sandwich.bread_name %>
Spreads/Fillings:
<% @sandwich.fillings.each do |f| %>
  <%= f.filling_name %> x 
  <% f.sandwich_fillings.each do |q| %>
    <%= q.quantity %><br>
  <% end %>
<% end %>
</h2>