<ul>
  <li>
    Sandwich Name: <%= sandwich.sandwich_name %></li>
    <li>Grilled: <%= sandwich.grill %></li>
    <li>Open-Faced: <%= sandwich.open_face %></li>
    <li>Bread: <%= sandwich.bread_name %></li>
    <li>Spreads/Fillings:</li>
<% @sandwich.fillings.each do |f| %>
  <%= f.filling_name %> X 
  <% f.sandwich_fillings.each do |q| %>
    <%= q.quantity %><br>
  <% end %>
<% end %>
</ul>
