<ul>
  <li>
    Sandwich Name: <%= sandwich.name %></li>
    <li>Grill: <%= sandwich.grill %></li>
    <li>Open-Face: <%= sandwich.open_face %></li>
    <li>Bread: <%= sandwich.bread_name %></li>
    <li>Filling: <%= sandwich.filling %></li>
    <li>Filling: <%= sandwich.filling %></li>
    <li>Filling: <%= sandwich.filling %></li>
    <li>Filling: <%= sandwich.filling %></li>
    <li>Filling: <%= sandwich.filling %></li>
    <li>Filling: <%= sandwich.filling %></li>
    <li>Filling: <%= sandwich.filling %></li>
    <li>Filling: <%= sandwich.filling %></li>
    <li>Filling: <%= sandwich.filling %></li>
    <li>Filling: <%= sandwich.filling %></li> 
</ul>
