<body class=sandwiches-index>
<h1>All Sandwiches</h1>
<h3>
<%@sandwiches.each do |sandwich|%>
<%= link_to sandwich.sandwich_name, sandwich_path(sandwich)%>
<br>
<% end %>
</h3>
<br>
<h5>
<%= link_to "Create a New Sandwich", new_user_sandwich_path(current_user) %><br>
<%= link_to "Grilled Sandwiches", grilled_path %><br>
<%= link_to "Open-Faced Sandwiches", open_faced_path %><br>
<%= link_to "Log out", logout_path%><br>
</h5>
</body>
