<body class=sandwich-index>

<h1>All Sandwiches</h1>
<%= link_to "Create a New Sandwich", new_sandwich_path %><br>
<%= link_to "Grilled Sandwiches", grilled_path %><br>
<%= link_to "Open-Faced Sandwiches", open_faced_path %><br>
<%=@sandwiches.each do |sandwich|%>
<%= render partial: 'sandwich', locals: {sandwich: @sandwich} %>
<% end %>

</body>
